.d-block{
    height: 200px;
}
.sliderpart{
    padding: 2%;
    margin: auto;
}
.cat{
    height: 75px;
    width: 100px;
}
.categoryImages{
    justify-content: space-evenly;
}
mat-card-content{
    align-items: center;
}